# Problem Statement<br>
<b>Find the most destructive death over batsman in the history of IPL</b>
<br>
<br>
<br>
<b>Solution:</b><br>
- Choosing only those batsman who has played more than 200 balls in death over in all the matches <br>
- Calculate strike rate and then decide <br>
srtike rate = number of runs / number of balls * 100

In [118]:
import pandas as pd
df = pd.read_csv('deliveries.csv')
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [119]:
death_over_df = df[df['over'] >= 16]
death_over_df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
93,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,1,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
94,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,2,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,MC Henriques,caught,Sachin Baby
95,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,3,Yuvraj Singh,DJ Hooda,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
96,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,4,DJ Hooda,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
97,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,5,Yuvraj Singh,DJ Hooda,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [120]:
# since each row corresponds to one ball played by a player, this returns total balls played by the player in 16-20 overs
eligible_batsman = death_over_df.groupby('batsman')['batsman_runs'].count()
eligible_batsman = eligible_batsman[eligible_batsman.values > 200]
eligible_batsman

batsman
A Mishra             225
AB de Villiers       570
AD Mathews           289
AM Rahane            268
AR Patel             229
AT Rayudu            425
BJ Hodge             385
DA Miller            360
DA Warner            228
DJ Bravo             409
DJ Hussey            234
DPMD Jayawardene     246
Harbhajan Singh      418
IK Pathan            465
JA Morkel            425
JH Kallis            231
JP Duminy            518
JP Faulkner          294
KA Pollard           838
KD Karthik           463
KM Jadhav            338
LRPL Taylor          204
MK Pandey            224
MK Tiwary            423
MS Dhoni            1224
NV Ojha              304
P Kumar              268
PP Chawla            311
R Vinay Kumar        235
RA Jadeja            576
RG Sharma            748
RV Uthappa           275
S Badrinath          283
S Dhawan             243
SK Raina             458
SPD Smith            316
SS Tiwary            300
STR Binny            218
V Kohli              546
WP Saha              295
Y Venugopal Rao      260
YK Pathan            584
Yuvraj Singh         516
Name: batsman_runs, dtype: int64

In [121]:
type(eligible_batsman.index)

pandas.core.indexes.base.Index

In [122]:
batsman_list = list(eligible_batsman.index)
batsman_list

['A Mishra',
 'AB de Villiers',
 'AD Mathews',
 'AM Rahane',
 'AR Patel',
 'AT Rayudu',
 'BJ Hodge',
 'DA Miller',
 'DA Warner',
 'DJ Bravo',
 'DJ Hussey',
 'DPMD Jayawardene',
 'Harbhajan Singh',
 'IK Pathan',
 'JA Morkel',
 'JH Kallis',
 'JP Duminy',
 'JP Faulkner',
 'KA Pollard',
 'KD Karthik',
 'KM Jadhav',
 'LRPL Taylor',
 'MK Pandey',
 'MK Tiwary',
 'MS Dhoni',
 'NV Ojha',
 'P Kumar',
 'PP Chawla',
 'R Vinay Kumar',
 'RA Jadeja',
 'RG Sharma',
 'RV Uthappa',
 'S Badrinath',
 'S Dhawan',
 'SK Raina',
 'SPD Smith',
 'SS Tiwary',
 'STR Binny',
 'V Kohli',
 'WP Saha',
 'Y Venugopal Rao',
 'YK Pathan',
 'Yuvraj Singh']

In [123]:
final = death_over_df[death_over_df['batsman'].isin(batsman_list)]
final

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
95,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,3,Yuvraj Singh,DJ Hooda,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
97,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,5,Yuvraj Singh,DJ Hooda,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
100,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,2,Yuvraj Singh,DJ Hooda,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
101,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,3,Yuvraj Singh,DJ Hooda,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
102,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,4,Yuvraj Singh,DJ Hooda,TS Mills,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150442,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,1,STR Binny,Sachin Baby,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150443,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,2,STR Binny,Sachin Baby,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150445,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,4,STR Binny,Sachin Baby,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150446,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,5,STR Binny,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150448,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,1,STR Binny,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,0,1,0,1,STR Binny,run out,DJ Hooda

In [124]:
balls = pd.DataFrame(final.groupby('batsman').count()['ball'].reset_index())
balls

             batsman  ball
0           A Mishra   225
1     AB de Villiers   570
2         AD Mathews   289
3          AM Rahane   268
4           AR Patel   229
5          AT Rayudu   425
6           BJ Hodge   385
7          DA Miller   360
8          DA Warner   228
9           DJ Bravo   409
10         DJ Hussey   234
11  DPMD Jayawardene   246
12   Harbhajan Singh   418
13         IK Pathan   465
14         JA Morkel   425
15         JH Kallis   231
16         JP Duminy   518
17       JP Faulkner   294
18        KA Pollard   838
19        KD Karthik   463
20         KM Jadhav   338
21       LRPL Taylor   204
22         MK Pandey   224
23         MK Tiwary   423
24          MS Dhoni  1224
25           NV Ojha   304
26           P Kumar   268
27         PP Chawla   311
28     R Vinay Kumar   235
29         RA Jadeja   576
30         RG Sharma   748
31        RV Uthappa   275
32       S Badrinath   283
33          S Dhawan   243
34          SK Raina   458
35         SPD Smith   316
36         SS Tiwary   300
37         STR Binny   218
38           V Kohli   546
39           WP Saha   295
40   Y Venugopal Rao   260
41         YK Pathan   584
42      Yuvraj Singh   516

In [125]:
runs = pd.DataFrame(death_over_df.groupby('batsman')['batsman_runs'].sum().reset_index())

In [126]:
runs_balls = runs.merge(balls, on=['batsman'])
runs_balls

             batsman  batsman_runs  ball
0           A Mishra           227   225
1     AB de Villiers          1203   570
2         AD Mathews           425   289
3          AM Rahane           410   268
4           AR Patel           327   229
5          AT Rayudu           703   425
6           BJ Hodge           606   385
7          DA Miller           672   360
8          DA Warner           432   228
9           DJ Bravo           686   409
10         DJ Hussey           410   234
11  DPMD Jayawardene           374   246
12   Harbhajan Singh           617   418
13         IK Pathan           663   465
14         JA Morkel           637   425
15         JH Kallis           394   231
16         JP Duminy           869   518
17       JP Faulkner           439   294
18        KA Pollard          1352   838
19        KD Karthik           704   463
20         KM Jadhav           488   338
21       LRPL Taylor           312   204
22         MK Pandey           340   224
23         MK Tiwary           593   423
24          MS Dhoni          2076  1224
25           NV Ojha           410   304
26           P Kumar           294   268
27         PP Chawla           374   311
28     R Vinay Kumar           256   235
29         RA Jadeja           753   576
30         RG Sharma          1314   748
31        RV Uthappa           477   275
32       S Badrinath           422   283
33          S Dhawan           386   243
34          SK Raina           767   458
35         SPD Smith           535   316
36         SS Tiwary           410   300
37         STR Binny           314   218
38           V Kohli           993   546
39           WP Saha           482   295
40   Y Venugopal Rao           387   260
41         YK Pathan           930   584
42      Yuvraj Singh           883   516

In [129]:
runs_balls['strike_rate'] = runs_balls['batsman_runs'] / runs_balls['ball'] * 100
runs_balls.sort_values('strike_rate',ascending=False).head()

           batsman  batsman_runs  ball  strike_rate
1   AB de Villiers          1203   570   211.052632
8        DA Warner           432   228   189.473684
7        DA Miller           672   360   186.666667
38         V Kohli           993   546   181.868132
30       RG Sharma          1314   748   175.668449